{% extends "_template.html" %}

{% block main_body %}
<div class="container my_padding_top">
    <h1 class="my_h1">{{ p.capitalize() }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Items</th>
                <th scope="col">Last Checked</th>
                <th scope="col">Undo</th>
                <th scope="col">Manual</th>
            </tr>
        </thead>
        <tbody>
            {% block social_tbody_pre %}{% endblock %}
            {% set prev_cat = [""] %}
            {% for productivity in productivities %}
            {% set item_colours = get_item_colour(p.capitalize(), productivity.last_check) %}
            {% if productivity.category != prev_cat[-1] %}
            <tr>
                <td colspan="4" style="border: none;"></td>
            </tr>
            <tr>
                <td colspan="4" style="font-weight: bold;">{{ productivity.category }}</td>
            </tr>
            {% endif %}
            <tr>
                <td style="background-color: {{ item_colours[0] }};">
                    <a class="my_item_box" href="{{ url_for('productivity_update', p=p, p_id=productivity.id) }}" style="color: {{ item_colours[1] }};">{{ productivity.item }}</a>
                </td>
                <td>{{ productivity.last_check.strftime("%#I:%M %p (%#d/%#m)") }}</td>
                <td><a href="{{ url_for('productivity_undo', p=p, p_id=productivity.id) }}">Undo</a></td>
                <td>
                    <form method="POST">
                        <input type="date" required class="my_date_picker" name="manual_date">
                        <button type="submit" class="btn btn-primary" name="form_id" value="{{ productivity.id }}">Update</button>
                    </form>
                </td>
                {% if prev_cat.append(productivity.category) %}{% endif %}
            </tr>
            {% endfor %}
            {% block social_tbody_post %}{% endblock %}
        </tbody>
    </table>
</div>
{% endblock main_body %}
