{% extends "_template.html" %}
{% block nav_active_proddash %}active{% endblock nav_active_proddash %}

{% block main_body %}
<div class="container my_padding_top">
    <h1 class="my_h1">Productivity Dashboard</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Items</th>
                <th scope="col">Last Checked</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% set prev_cat = [""] %}
            {% for prod in prods %}
            {% if prod.category != prev_cat[-1] %}
            <tr>
                <td colspan="3" style="border: none;"></td>
            </tr>
            <tr>
                <td colspan="3" style="font-weight: bold;">{{ prod.category }}</td>
            </tr>
            {% endif %}
            <tr>
                <td><a href="{{ url_for('proddash_update', prod_id=prod.id) }}">{{ prod.item }}</a></td>
                <td{% if prod.last_check.date() < curr_datetime.date() %} style="color: red;"{% endif %}>{{ prod.last_check.strftime("%#I:%M %p (%#d/%#m)") }}</td>
                <td><a href="{{ url_for('proddash_undo', prod_id=prod.id) }}">Undo</a></td>
                {% if prev_cat.append(prod.category) %}{% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock main_body %}