{% extends "_template.html" %}

{% block main_body %}
<div class="container my_padding_top">
    <h1 class="my_h1">{{ p.capitalize() }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Items</th>
                <th scope="col">Last Checked</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% set prev_cat = [""] %}
            {% for productivity in productivities %}
            {% set is_previous_day = productivity.last_check.date() < curr_datetime.date() %}
            {% set hour_diff = (curr_datetime - productivity.last_check).total_seconds() / 3600 %}
            {% if productivity.category != prev_cat[-1] %}
            <tr>
                <td colspan="3" style="border: none;"></td>
            </tr>
            <tr>
                <td colspan="3" style="font-weight: bold;">{{ productivity.category }}</td>
            </tr>
            {% endif %}
            <tr>
                <td
                {% if is_previous_day %}
                    style="background-color: #D2222D;"
                {% elif hour_diff < 1 %}
                    style="background-color: #BDDBBD;"
                {% elif hour_diff >= 1 and hour_diff < 2 %}
                    style="background-color: #7BB87B;"
                {% elif hour_diff >= 2 %}
                    style="background-color: #FFCC33;"
                {% endif %}
                ><a class="my_colour_box" href="{{ url_for('productivity_update', p=p, p_id=productivity.id) }}" {% if is_previous_day %}style="color: white;"{% endif %}>{{ productivity.item }}</a></td>
                <td>{{ productivity.last_check.strftime("%#I:%M %p (%#d/%#m)") }}</td>
                <td><a href="{{ url_for('productivity_undo', p=p, p_id=productivity.id) }}">Undo</a></td>
                {% if prev_cat.append(productivity.category) %}{% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock main_body %}
