{% extends "productivity.html" %}
{% block nav_active_social %}active{% endblock nav_active_social %}

{% block social_tbody_pre %}
<tr>
    <td colspan="3" style="border: none;"></td>
</tr>
<tr>
    <td colspan="3" style="font-weight: bold;">Social Media</td>
</tr>
<tr>
    <td>Instagram</td>
    <td></td>
    <td></td>
</tr>

<tr>
    <td colspan="3" style="border: none;"></td>
</tr>
<tr>
    <td colspan="3" style="font-weight: bold;">Game</td>
</tr>
<tr>
    <td>Pokemon Unite</td>
    <td></td>
    <td></td>
</tr>
{% endblock social_tbody_pre %}

{% block social_tbody_post %}
<tr>
    <td>YouTube</td>
    <td></td>
    <td></td>
</tr>

<tr>
    <td>CNA</td>
    <td></td>
    <td></td>
</tr>
{% endblock social_tbody_post %}

{% block display_none_1 %}style="display: none;"{% endblock display_none_1 %}
{% block colspan_1 %}3{% endblock colspan_1 %}
{% block colspan_2 %}3{% endblock colspan_2 %}
{% block display_none_2 %}style="display: none;"{% endblock display_none_2 %}
