{% extends "_template.html" %}
{% block nav_active_status %}active{% endblock nav_active_status %}

{% block main_body %}
<div class="container my_padding_top">
    <h1 class="my_h1">Status</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Frequency</th>
                <th scope="col">Last Done</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for status in statuses %}
            {% set s_colours = get_status_diff(status.frequency) %}
            <tr>
                <td style="background-color: {{ s_colours[0] }};"><a href="{{ url_for('status_update', s_id=status.id) }}" style="color: {{ s_colours[1] }};">{{ status.frequency }}</a></td>
                <td>{{ status.last_done.strftime("%#I:%M %p (%#d/%#m)") }}</td>
                <td><a href="{{ url_for('status_undo', s_id=status.id) }}">Undo</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock main_body %}
