{% extends "_template.html" %}
{% block nav_active_status %}active{% endblock nav_active_status %}

{% block main_body %}
<div class="container my_padding_top">
    <h1 class="my_h1">Status</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Frequency</th>
                <th scope="col">Last Done</th>
                <th scope="col">Undo</th>
                <th scope="col">Defer</th>
            </tr>
        </thead>
        <tbody>
            {% for status in statuses %}
            {% set s_colours = get_status_diff(status.frequency) %}
            <tr>
                <td style="background-color: {{ s_colours[0] }};"><a href="{{ url_for('status_update', s_id=status.id) }}" style="color: {{ s_colours[1] }};">{{ status.frequency }}</a></td>
                <td>{{ status.last_done.strftime("%#I:%M %p (%#d/%#m)") }}</td>
                <td><a href="{{ url_for('status_undo', s_id=status.id) }}">Undo</a></td>
                <td>
                    <form method="POST">
                        <input type="date" required class="my_date_picker" name="defer_date" {% if status.defer_to.date() >= curr_dt.date() %}value="{{ status.defer_to.strftime('%Y-%m-%d') }}"{% endif %}>
                        <button type="submit" class="btn btn-primary" name="form_id" value="{{ status.id }}">Defer</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock main_body %}
